{% extends 'base.html' %}
{% set title = 'تسجيل الدخول ' %}

{% block body_class %}login-gradient d-flex justify-content-center align-items-center vh-100{% endblock %}

{% block content %}
  <div class="card shadow p-4 animate__animated animate__fadeInUp" data-aos="zoom-in" style="min-width:350px">
    <h4 class="mb-3 text-center fw-bold">👨‍💼 تسجيل الدخول</h4>
    <form method="post" action="{{ url_for('login') }}">
      <div class="mb-3">
        <label class="form-label">اسم المستخدم</label>
        <input type="text" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">كلمة المرور</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">
        دخول
      </button>
    </form>
  </div>
{% endblock %}

